<div ><mat-card class="example-card">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Employee details...!</span>
          <a routerLink="/home" > <button   mat-stroked-button color="accent">GET</button></a>
          <a routerLink="/adduser" > <button   mat-stroked-button color="accent">PUT</button></a>
          <a routerLink="/patch" > <button   mat-stroked-button color="accent">PATCH</button></a>
          <a routerLink="/parameter" > <button   mat-stroked-button color="accent">GET BY ID</button></a>
          <a routerLink="/create" > <button   mat-stroked-button color="accent">CREATE</button></a>
          <a routerLink="/delete" > <button   mat-stroked-button color="accent">DELETE</button></a>
        </mat-toolbar-row></mat-toolbar></mat-card></div>
<router-outlet></router-outlet>

